<div class="container">
  <h2 class="list-title" style="text-align: center">Thông tin khách hàng</h2>
  <form [formGroup]="viewForm">
    <div class="row">
      <div class="form-group col">
        <label for="exampleInputEmail1">Mã khách hàng</label>
        <input
          formControlName="code"
          type="text" class="form-control" readonly>
      </div>
      <div class="form-group col">
        <label for="exampleInputEmail1">Tên khách hàng</label>
        <input
          formControlName="name"
          type="text" class="form-control" id="exampleInputEmail1" readonly>
      </div>
      <div class="form-group col">
        <label for="exampleInputPassword2">Ngày sinh</label>
        <input
          formControlName="birthday"
          type="date" class="form-control" id="exampleInputPassword2" readonly>
      </div>
    </div>

    <div class="row">
      <div class="form-group col">
        <label for="exampleInputPassword2">Số CMNH/CCCD</label>
        <input
          formControlName="idCard"
          type="text" class="form-control" id="exampleInputPassword3" readonly>
      </div>
      <div class="form-group col">
        <label for="phoneNumber">Số điện thoại</label>
        <input
          formControlName="phone"
          type="text" class="form-control" id="phoneNumber" readonly>
      </div>
    </div>
    <div class="row">
      <div class="form-group col">
        <label for="email">Email</label>
        <input
          formControlName="email"
          type="text" class="form-control" id="email" readonly>
      </div>

      <div class="form-group col">
        <label for="gender">Giới tính</label>
        <input
          formControlName="gender"
          type="text" class="form-control" id="gender" readonly>
      </div>

    </div>

    <div class="row">

      <div class="form-group col">
        <label for="address">Địa chỉ</label>
        <input
          formControlName="address"
          type="text" class="form-control" id="address" readonly>
      </div>

      <div class="form-group col">
        <label >Loại khách hàng</label>
        <div formControlName="customerType"
             class="form-control" id="customerType" readonly>{{customers.typeCustomer.nameType}}</div>
      </div>
    </div>

  </form>
  <br>
  <div class="text-center">
    <button type="button" class="btn btn-secondary" routerLink="/customer">Trở về</button>
  </div>

</div>
<br>
<br>

