<div>
  <label>Nhập nội dung của bạn: </label>
  <input type="text" #element  (change)="changedCharacter(element.value)"/>
</div>
<div style="margin-top: 20px">
  <label>Hãy chọn màu của bạn: </label>
  <button  type="submit" name="color" value="red" (click)="changedColorValue($event)">Màu đỏ</button>
  <button  type="submit" name="color" value="blue"  (click)="changedColorValue($event)">Màu xanh da trời</button>
  <button  type="submit" name="color" value="purple" (click)="changedColorValue($event)">Màu tím</button>
  <button  type="submit" name="color" value="pink" (click)="changedColorValue($event)">Màu hồng</button>
  <button  type="submit" name="color" value="green" (click)="changedColorValue($event)">Màu xanh lá cây</button>
  <button  type="submit" name="color" value="black" (click)="changedColorValue($event)">Màu đen</button>
  <button  type="submit" name="color" value="orange" (click)="changedColorValue($event)">Màu cam</button>
</div>
<div style="margin-top: 20px">
  Kết quả:<p class="output" [ngStyle]="{'color': colors}"> {{character}} </p>
</div>
