<h1>DANH SÁCH KHÁCH HÀNG</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex">
      <input style="height: 50px" class="form-control me-2" #element type="text" placeholder="Tìm kiếm theo tên"
             aria-label="Search"/>
<!--      <input style="height: 50px" class="form-control me-2" #code type="text" placeholder="Search By Name"-->
<!--             aria-label="Search" />-->
      <button style="width: 40%; height: 40px" class="btn btn-outline-success my-2 my-sn-0" type="button"
              (click)="searchByName(element.value)"><mat-icon>search</mat-icon>
      </button>
    </form>
    <form class="d-flex">
      <input style="height: 50px" class="form-control me-2" #type type="text" placeholder="Tìm kiếm loại KH "
             aria-label="Search"/>
            <input style="height: 50px" class="form-control me-2" #code type="text" placeholder="Tìm kiếm mã KH"
                   aria-label="Search" />
      <button style="width: 50%; height: 40px" class="btn btn-outline-success my-2 my-sn-0" type="button"
              (click)="searchAll(type.value, code.value)">Tìm Kiếm
      </button>
    </form>
  </div>
  <a class="btn btn-success" routerLink="/create-customer" style="margin-right: 20px; width: 150px"><mat-icon>create</mat-icon>Thêm mới</a>
</nav>

<table class="table table-striped table-hover" border="1">
  <thead>
  <tr>
    <th>Mã KH</th>
    <th>Họ Tên</th>
    <th>Ngày Sinh</th>
    <th>Giới Tính</th>
    <th>Số CMND/CCCD</th>
    <th>Số Điện Thoại</th>
    <th>Email</th>
    <th>Địa Chỉ</th>
    <th>Loại Khách</th>
    <th colSpan="2" style="text-align: center">Chức Năng Khác</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customerList | paginate: { itemsPerPage: 5, currentPage: p }">
    <td>{{customer.code}}</td>
    <td>{{customer.name | titlecase}}</td>
    <td>{{customer.dayOfBirth | date:"dd-MM-yyyy"}}</td>
    <td>{{customer.gender}}</td>
    <td>{{customer.idCard}}</td>
    <td>{{customer.phone}}</td>
    <td>{{customer.emails}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.typeCustomer.nameType}}</td>
    <td>
      <!--    <a class="m-2 btn btn-success">Chi Tiết</a>-->
      <!--    <a class="m-2 btn btn-primary">Sửa</a>-->
      <a class="m-2 btn btn-primary" routerLink="/edit-customer/{{customer.id}}">
         <mat-icon>edit</mat-icon>Sửa
      </a>
      <button type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
              style="margin-left: 5px" (click)="getInfor(customer.id)"><mat-icon>delete</mat-icon>Xóa
      </button>
    </td>
    <!--    onclick="'javascript:deleteCustomer(' + ${customer.id} + ')'"-->
  </tr>
  </tbody>
</table>

<!--Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa Dịch Vụ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" routerLink="/delete">
        <p>Bạn có muốn xóa <span style="color: red" *ngIf="customer">{{customer.name}}</span> này không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteCustomer(customer.id)">Có
        </button>
      </div>
    </div>
  </div>
</div>

<pagination-controls
  previousLabel="Quay lại"
  nextLabel="Tiếp theo" (pageChange)="p=$event"></pagination-controls>

<!--<script>-->
<!--  function deleteCustomer(id) {-->
<!--    document.getElementById("id-customer").value = id;-->
<!--// document.getElementById("customer_name").innerText = name;-->
<!--  }-->
<!--</script>-->


<!--phân trang-->
<!--<nav aria-label="Page navigation example">-->
<!--  <ul class="pagination">-->
<!--    <li class="page-item">-->
<!--      <a class="page-link" href="#" aria-label="Previous">-->
<!--        <span aria-hidden="true">&laquo;</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--    <li class="page-item">-->
<!--      <a class="page-link" href="#" aria-label="Next">-->
<!--        <span aria-hidden="true">&raquo;</span>-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->
