<div class="container">
  <div class="row">

  <div class="col-sm-3 d-none d-lg-block">
    <div class="toolbar" role="banner" style="height: 120px">
      <img
        width="100"
        alt="Furama Logo"
        src="https://www.hoteljob.vn/uploads/images/18-01-17-09/Logo-FURAMA-RESORT.jpg"/>
    </div>
  </div>

<div class="col-sm-6 d-none d-lg-block">
  <div class="header-contact d-flex">
    <div class="header-contact-txt">
      <p style="font-family: 'Times New Roman';margin-top: 10px"><i class='fas fa-map-marker-alt' style="color: darkgreen"></i>
        103 – 105 Đường Võ Nguyên Giáp, Phường Khuê Mỹ,<br>
        Quận Ngũ hành Sơn, Tp. Đà Nẵng, Việt Nam</p>
      <p class="txt-sm" style="font-family: 'Times New Roman'">
        <span>7.0 km</span> từ Sân bay Quốc tế Đà Nẵng </p>
    </div>
  </div>
</div>

<div class="col-sm-3 d-none d-lg-block" style="margin-top: 10px">
  <div class="header-contact-icon"><i class="icon-placeholder"></i></div>
      <p style="font-family: 'Times New Roman'"><i class='fas fa-phone-alt' style="color: darkgreen"></i>  84-236-3847 333/888</p>
      <p style="font-family: 'Times New Roman'"><i class='fas fa-mail-bulk' style="color: darkgreen"></i>  reservation@furamavietnam.com</p>
</div>


<!--  <div>-->

<!--    <span><i class='fas fa-mail-bulk'></i></span>-->
<!--  </div>-->
</div>
</div>

