<h1  style="text-align: center">DANH SÁCH SINH VIÊN</h1>

<table class="table table-striped table-hover" border="1">
<thead>
<tr style="text-align: center" >
  <th>Số Thứ Tự</th>
  <th>Họ Tên</th>
  <th>Tuổi</th>
  <th>Địa Chỉ</th>
  <th>Điểm số</th>
  <th>Kết Quả</th>
  <th colpan="3" style="text-align: center">Chức Năng Khác</th>
</tr>
</thead>
  <tbody>
<tr *ngFor="let student of student" style="text-align: center">
<td>{{student.id}}</td>
<td>{{student.name}}</td>
<td>{{student.age}}</td>
<td>{{student.address}}</td>
<td>{{student.point}}</td>
<td *ngIf="student.point <= 6; else elseBlock" class="text-danger">Rớt Module</td>
<ng-template #elseBlock>
  <td class="text-success">Đậu module</td>
</ng-template>
  <td>
    <button class="m-2 btn btn-success" (click)="getValue(student)">Detail</button>
    <a class="m-2 btn btn-danger">Delete</a>
    <a class="m-2 btn btn-primary">Sửa</a>
  </td>
</tr>
  </tbody>
</table>
<div class="container">
  <app-view-student *ngIf="student" [student]="studentNew"></app-view-student>
</div>
<div class="container">
  <app-create-student *ngIf="student"></app-create-student>
</div>
<!--<input style="margin-left: 10px" type="number" #element (click)="changedPoint(element.value)"> -->
<!--<tr>-->
<!--<span>Nhập màu của bạn: </span>-->
<!--<input style="margin-top: 10px" type="text" #colors value="red" (change)="changedColor(colors.value)">-->
<!--</tr>-->
