<div style="margin-bottom: 10px">
<label>Nhập số thứ nhất: </label>
<input #number type="number">
</div>
<div style="margin-bottom: 10px">
<label>Nhập số thứ nhất: </label>
<input #element type="number">
</div>
<div style="margin-left: 100px;">
<button type="submit" #sum value="+" (click)="opertion(number.value, element.value ,sum.value)">Cộng</button>
<button type="submit" #sum1 value="-" (click)="opertion(number.value, element.value ,sum1.value)">Trừ</button>
<button type="submit" #sum2 value="*" (click)="opertion(number.value, element.value ,sum2.value)">Nhân</button>
<button type="submit" #sum3 value="/" (click)="opertion(number.value, element.value ,sum3.value)">Chia</button>
</div>
<div style="margin-bottom: 10px">
  Kết quả:<p class="output" >{{result}}</p>
</div>
